@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.News-wrapper {
    width: 100%;
    background-color: #222f36;
    padding: 75px 0 85px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.News-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.News-title {
    margin: 0 0 5px 0;
    font-size: 35px;
    line-height: 38px;
    font-weight: 700;
    color: #fff;
    font-family: "Poppins";
}

.News-description {
    margin-bottom: 0;
    line-height: 26px;
    font-size: 16px;
    color: #8c9597;
    font-family: "Lato";
    font-weight: 400;
}

.News-btn{
    width: auto;
    min-height: 45px;
    line-height: 45px;
    background: #f1d204;
    margin: 50px 0;
    padding: 0 35px;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    color: #f7f7f7;
    border-radius: 3px;
    transition: all 0.3s;
    font-family: "Lato";
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.News-btn p{
    margin-left: 8px;
}

.News-btn:hover{
    background-color: #6A4D8A;
}

.News-content-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

@media (max-width: 768px) {
    .container {
        width: 94%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}