@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.Projects-header {
    width: 100%;
    padding: 65px 0px;
    text-align: center;
    background-color: #efefef;
}

.Projects-title {
    margin: 0 0 5px 0;
    color: #545454;
    font-size: 35px;
    line-height: 38px;
    font-weight: 700;
    font-family: "Poppins";
}

.Projects-description {
    margin-bottom: 0;
    line-height: 26px;
    font-size: 16px;
    color: #8c9597;
    font-family: "Lato";
    font-weight: 400;
}

.Projects-content{
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .container {
        width: 94%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}